.text-center {
    text-align: center;
}

.text-light {
    color: #E7F6F2;
}

.text-primary {
    color: #A5C9CA;
}

.bg-dark {
    background-color: #2C3333;
}

.bg-primary {
    background-color: #395B64;
}

.w-100 {
    width: 100px;
}
